---
import Layout from "../layouts/Layout.astro";
import ListAplications from "../components/ListAplications.tsx";
---

<Layout title="Aplicaciones" aplication={false} >
    <div>
        <ListAplications  client:visible />
    </div>
</Layout>

<style>
    div{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
</style>