---
import Layout from "@/layouts/Layout.astro";
import ListAplications from "@/components/ListAplications.tsx";
---

<Layout title="últimas Aplicaciones para Android o Windows | Store-Kun" >
    <div>
        <ListAplications client:load />
    </div>
</Layout>

<style>
    div{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
</style>