---
    import { wallpapers } from "../data/Wallpapers.ts";
    //const variables = Math.floor(Math.random() * wallpapers.length);
---
<div class="Video-Main" >
        
    <video autoplay muted loop transition:persist >
        <source src={wallpapers[0]} type="video/mp4" >
    </video>

   <slot />
</div>



<style>
    .Video-Main {
        width: 100%;
        height: calc( 90vh + 5px);
        overflow: hidden;
    }
    video {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    /* Responsive in laptop medium*/
    @media (max-width: 1374px){
        .Video-Main {
            width: 100%;
            height: calc( 90vh - 2px);
        }
    }

    /* Responsive in laptop 1080px*/
    @media (max-width: 1080px){
        .Video-Main {
            width: 100%;
            height: 90vh;
        }
    }

    /* Responsive in phone */

    @media (max-width: 768px) {
        /*
        .Video-Main {
            height: calc( 82vh + 8px);
        }
        */
        .Video-Main{
            height: calc( 89vh + 5px);
        }
    }

</style>