---
---

<div class="Aplication-Div" >
    <h2 class="Title-Aplication" >Ultimas aplicaciones</h2>
    <div class="Aplicaction-Warp" >
        <slot />
    </div>
</div>
 
<style>
    .Aplication-Div{
        padding: 10px 100px;
        height: 100%;
        transform: translateY(38%);
        border: 2px solid var(--Main_Color);
        border-radius: 20px 20px 0 0;
        backdrop-filter: blur(3px);
        background-image: linear-gradient(to top, rgb(16, 28, 40,1), rgba(16, 28, 40, 0));
        transition: .5s ease-in-out;
        animation: EntradaBar 1s ease-in-out;
    }
    .Aplication-Div:hover{
        transform: translateY(0%);
    }

    @keyframes EntradaBar {
        0%{
            transform: translateY(40%);
        }
        100%{
            transform: translateY(38%);
        }
    }

    .Title-Aplication{
        width: 18%;
        background-image: var(--Color_Linear);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: 0 0 8px var(--Main_Color);
    }
    .Aplicaction-Warp{
        display: flex;
        height: 41%;
        flex-wrap: nowrap;
        gap: 100px;
        justify-content: center;
        align-items: center;
    }
</style>