---
interface Props {
	title: string;
    descripcion: string;
    image: string;
    id: string
}

const { title, descripcion, image, id } = Astro.props;
---

<div class="Ficha-Aplication" >
    <picture>
        <img src={image} alt="Imagen" loading="lazy">
    </picture>
    <div class="Div-descripcion-aplication" >
        <div class="Render-Descripcion-Aplication" >
            <div>
                <h3>{title}</h3>
                <div class="Border-Decore" />
            </div>
            <div>
                <p class="p-Ficha">{descripcion}</p>
            </div>
            <div class="Ficha-button" >
                <a href=`/aplication/${id}`>Explorar</a>
            </div>
        </div>
    </div>
</div>

<script>
    if(window.screen.width <= 1024){
        const p = document.querySelectorAll('p.p-Ficha');
        p.forEach((a)=>{
            const descripcion = a.innerHTML;
            a.innerHTML = descripcion.substring(0, 50).concat('...')
        });
    }
</script>

<style>
    .Ficha-Aplication{
        position: relative;
        height: 80%;
        width: 15%;
        border-radius: 10px;
        background-color: var(--Main_Color);
        transition: .5s;
        box-shadow: 0 0 20px #1b4644;
        overflow: hidden;
    }
    .Ficha-Aplication picture{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Ficha-Aplication img{
        height: 170px;
    }
    .Div-descripcion-aplication{
        position: absolute;
        padding: 5px 10px;
        bottom: 0;
        height: 56%;
        width: 100%;
        border: 1px solid var(--Main_Color);
        backdrop-filter: blur(10px);
        border-radius: 10px 10px 0 0;
        color: var(--Text_Color);
        overflow: hidden;
    }
    .Div-descripcion-aplication h3{
        text-shadow: 0 0 3px #000;
    }
    .Render-Descripcion-Aplication{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .Border-Decore{
        margin: 6px 0;
        width: 100%;
        border: 1px solid;
        border-image: linear-gradient(to right, #188c77, #fff, #188C77) 1;
    }
    .Div-descripcion-aplication p{
        color: #dfdfdf;
        font-size: 13px;
        text-shadow: 0 0 3px #000;
        word-break: break-all;
    }
    .Ficha-Aplication:hover{
        transform: scale(1.03);
        box-shadow: 0 0 20px var(--Main_Color);
    }
    .Ficha-button{
        display: flex;
        padding-bottom: 5px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .Ficha-button a{
        padding: 4px 10px 4px 10px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 5px #666666;
        transition: .2s;
        text-decoration: none;
        color: var(--Main_Color);
        font-size: 14px;
    }
    .Ficha-button a:hover{
        background-color: #dbdbdb;
    }

    @media screen and (max-width: 1024px){
        .Ficha-Aplication{
            height: 70%;
            width: 50%;
        }
    }
</style>