---
interface Props {
	title: string;
    descripcion: string;
    image: string;
}

const { title, descripcion, image } = Astro.props;
---

<div class="Ficha-Aplication" >
    <picture>
        <img src={image} alt="Imagen">
    </picture>
    <div class="Div-descripcion-aplication" >
        <div class="Render-Descripcion-Aplication" >
            <div>
                <h3>{title}</h3>
                <div class="Border-Decore" />
            </div>
            <div>
                <p>{descripcion}</p>
            </div>
            <div class="Ficha-button" >
                <button>Explorar</button>
            </div>
        </div>
    </div>
</div>
 
<style>
    .Ficha-Aplication{
        position: relative;
        height: 80%;
        width: 15%;
        border-radius: 10px;
        background-color: #188C77;
        transition: .5s;
        box-shadow: 0 0 20px #1b4644;
        overflow: hidden;
    }
    .Ficha-Aplication picture{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Ficha-Aplication img{
        height: 152px;
    }
    .Div-descripcion-aplication{
        position: absolute;
        padding: 5px 10px;
        bottom: 0;
        height: 56%;
        width: 100%;
        border: 1px solid #188C77;
        backdrop-filter: blur(10px);
        border-radius: 10px 10px 0 0;
        color: #fff;
        overflow: hidden;
    }
    .Div-descripcion-aplication h3{
        text-shadow: 0 0 3px #000;
    }
    .Render-Descripcion-Aplication{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .Border-Decore{
        margin: 6px 0;
        width: 100%;
        border: 1px solid;
        border-image: linear-gradient(to right, #188c77, #fff, #188C77) 1;
    }
    .Div-descripcion-aplication p{
        color: #dfdfdf;
        font-size: 13px;
        text-shadow: 0 0 3px #000;
        word-break: break-all;
    }
    .Ficha-Aplication:hover{
        transform: scale(1.03);
        box-shadow: 0 0 20px #188C77;
    }
    .Ficha-button{
        display: flex;
        padding-bottom: 5px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .Ficha-button button{
        padding: 4px 10px 4px 10px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 5px #666666;
        transition: .2s;
    }
    .Ficha-button button:hover{
        background-color: #dbdbdb;
    }
</style>