---
interface Props{
    aplication: boolean;
}
const {aplication} = Astro.props;
---
<header>
    <div class="Blur-Top"/>
    <div class="Blur-Bottom" />
    <nav class="Text-Header" >
        <h2>StoreKun</h2>
        <div>
            <a href={aplication? "../" : "./"}>Inicio</a>
            <a href={aplication? "../explore": "./explore"}>Explorar</a>
            <a href={aplication? "../updates": "./updates"}>Actualizaciones</a>
        </div>
    </nav>
</header>

<style>
    header{
        height: 90px;
        position: relative;
        overflow: hidden;
    }
    .Text-Header{
        display: flex;
        position: absolute;
        padding: 0px 100px;
        width: 100%;
        height: 100%;
        z-index: 3;
        align-items: center;
        justify-content: space-between;
        color: var(--Text_Color);
        text-shadow: 0px 0px 8px var(--Main_Color);
    }
    .Text-Header a{
        position: relative;
        font-size: .9em;
        color: var(--Main_Color);
        text-decoration: none;
        font-weight: 500;
        margin-left: 40px;
    }
    .Text-Header a::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background: var(--Main_Color);
        border-radius: 5px;
        transform: scaleX(0);
        transition: transform .5s;
    }
    .Text-Header a:hover::after{
        transform-origin: left;
        transform: scaleX(1);
    }
    .Blur-Top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(1px);
        z-index: 1; /* Asegura que esté detrás de las otras capas */
        background-image: var(--Bg_Blur);
    }
    .Blur-Bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(1px);
        z-index: 2; 
        background-image: linear-gradient(to bottom, rgb(16, 28, 40,1), rgba(16, 28, 40, 0));
    }

    /* Responsive in laptop medium */
    @media screen and (max-width: 1374px){
        header{
            height: 70px;
        }
    }

    /* Responsive in 800px */
    @media screen and (max-width: 800px){
        .Text-Header{
            padding: 0px 20px;
        }
        .Text-Header a{
            margin-left: 20px;
        }
    }

    /* Responsive on phone very big phones */
    @media screen and (max-width: 430px){
        .Text-Header{
            padding: 0px 10px;
        }
        .Text-Header a{
            margin-left: 10px;
        }
    }

</style>