.ListAplication-Div{
    display: flex;
    padding: 0 100px;
    height: 100%;
    width: 100%;
}

.ListAplication-Bar{
    display: flex;
    width: 20%;
    color: var(--Text_Color);
    border-right: 2px solid var(--Main_Color);
}

.ListAplication-Content{
    display: flex;
    padding: 0 20px;
    width: 80%;
}

.ListAplication-Title{
    display: flex;
    color: var(--Text_Color);
    width: 100%;
    height: 3%;
    justify-content: space-between;
    align-items: center;
}