---
---
<div class="Main-Descripcion" >
    <h1>Bienvenido a Store-Kun</h1>
    <div class="Descripcion-p" >
        <p>Un rincón de internet para que puedas descargar aplicaciones/programas para tu entretenimiento.</p>
    </div>
</div>
 
<style>
    .Main-Descripcion{
        display: flex;
        padding: 0 100px;
        height: 50vh;
        color: var(--Text_Color);
        flex-direction: column;
        justify-content: center;
    }
    .Main-Descripcion h1{
        font-size: 4em;
        width: 35%;
        background-image: var(--Color_Linear);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: EntradaMainH .9s ease-in-out;
    }
    .Descripcion-p{
        width: 20%;
        text-shadow: 0 0 5px var(--Main_Color);
        animation: EntradaMainP .9s ease-in-out;
    }
    @keyframes EntradaMainH {
        0%{
            opacity: 0;
            transform: translateX(30px);
        }
        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes EntradaMainP {
        0%{
            opacity: 0;
            transform: translateY(30px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }

    @media screen and (max-width: 768px){
        .Main-Descripcion{
            padding: 0 20px;
            height: 45vh;
        }
        .Main-Descripcion h1{
            font-size: 2.5em;
            width: 90%;
        }
        .Descripcion-p{
            margin-top: 20px;
            width: 100%;
        }
    }

</style>