---
---
<div class="Main-Descripcion" >
    <h1>Bienvenido a Store-Kun</h1>
    <div class="Descripcion-p" >
        <p>Un rincón de internet para que puedas descargar aplicaciones/programas para tu entretenimiento.</p>
    </div>
</div>
 
<style>
    .Main-Descripcion{
        display: flex;
        padding: 0 100px;
        height: 50vh;
        color: #fff;
        flex-direction: column;
        justify-content: center;
    }
    .Main-Descripcion h1{
        font-size: 4em;
        width: 35%;
        background-image: linear-gradient(to right, #ffffff, #188C77);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    .Descripcion-p{
        width: 20%;
        text-shadow: 0 0 5px #188C77;
    }
 
</style>