---
interface Props {
	title: string;
	aplication: boolean
}

const { title, aplication } = Astro.props;

import BodyWallpaper from '../components/BodyWallpaper.astro';
import Header from '../components/Header.astro';
import {ViewTransitions} from "astro:transitions";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header aplication={aplication} />
		<BodyWallpaper>
			<slot />
		</BodyWallpaper>
	</body>
</html>

<style is:global>
	:root {
		--Text_Color: #fff;
		--Main_Color: #188C77;
		--Button_Color: #0F88F2;
		--Bg_Color: #162840;
		--Bg_Blur: linear-gradient(to top, rgba(16, 28, 40, 0), rgba(16, 28, 40, 1));
		--Color_Linear: linear-gradient(to right, #ffffff, #188C77);
	}
	@font-face {
		font-family: 'Cascadia';
		src: url("../assets/CascadiaCode.ttf" format("truetype"));
	}

	*{
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		font-family: 'Cascadia', sans-serif;
	}

	body{
		color: var(--Main_Color);
		background-color: var(--Bg_Color);
	}
</style>
